<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    
    <title>Daiana FolgART</title>
</head>
<body>
    <header>
        <div class="logo-home">
            <img class="logo" src="/images/logo-con-nombre.png" alt="logo">            
        </div>
        
        <h2> Bienvenidos a Mi Portal</h2>
        <h2> Soy Daiana FolgART, este es mi espacio.</h2>
    </header>

    <main>
        
        <div class="imagen-fondo">
            <img src="/images/atril-blanco.jpg">
        </div>
        <div class="manos-con-pinceles">
            <img src="/images/mano-pinceles.png">
        </div>

    </main>

    <footer>
        
    </footer>
    
    
</body>
</html>