@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #dddddd;
}

/*:::::::::::::::::::::::HEADER:::::::::::::::::::::::*/


header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.logo-home {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    
}

.logo {
    max-width: 300px;
    max-height: 600px;
    padding: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    top: 5%;
}

header .logo-home .texto-logo  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: end;
    position: absolute;
    width: 50%;
    top: 300px;
}

h2 {
    color: darkslateblue;
    font-family: 'Amatic SC';    
    text-align: center;
    font-size: 18px;
}

/* ::::::::::::::::: MAIN ::::::::::::::::::: */

main {
    width: 100%;
    
}

main .imagen-fondo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


/* ::::::::::::::: FOOTER :::::::::::::::::*/ 

footer {
    background-color: #e9e9e9;
}
